.github-icon {
    width: 10em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin-top: 20px;
}

.repo-container {
    align-self: center;
    justify-content: center;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 20px;
}

.repo-box {
    font-size: large;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    background-color: #3f659b;
}

.github-link {
    top: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 20px;
    font-size: small;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    /* opacity */
    opacity: 0.4;
}