.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #cd242413;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 20px;
    margin: 100px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.avatar {
    border-radius: 50%;
    /* Makes the image round */
    width: 100px;
    /* Example size, adjust as needed */
    height: 100px;
    /* Same as width to maintain aspect ratio */
    object-fit: cover;
    /* Makes sure the image covers the area nicely */
    border: 3px solid #ffffff;
    /* Optional: if you want a border around the avatar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: adds depth to the image */
}

.user-nickname {
    margin-top: 10px;
    font-size: 1.2em;
    /* Larger text for the nickname */
    color: #333333;
    /* Dark color for text */
}

.user-email {
    margin-top: 5px;
    font-size: 1em;
    color: #666666;
    /* Lighter color for less emphasis */
}


/* You can add a :hover effect for interactivity */

.info-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}