@import '/newCSS/root.css';
.header-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    z-index: 1;
    border-bottom: 0.05vh solid #333333;
    border: 1px solid hotpink;
    overflow: auto;
}

h1 {
    font-size: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
    font-weight: 700;
    text-align: center;
    color: #333333;
}

.logo-img {
    width: 100px;
    height: auto;
    padding: 1vw;
}


/* SEARCH BAR */

.search-box {
    display: flex;
<<<<<<< HEAD
    flex-direction: row;
    width: 500px;
    height: 35px;
    max-width: 90%;
    justify-content: center;
=======
    width: 450px;
    max-width: 90%;
    /* justify-content: space-evenly; */
>>>>>>> Info-grid
    overflow: auto;
    flex-shrink: 1;
    border: 0.4vh solid #8338EC;
    border-radius: 1vh;
    box-shadow: 0.165vh 0.2vh 0px 0.2vh rgba(0, 0, 0, 0.20);
}

.search-input {
    width: 90%;
    /* max-width: 80%; */
    min-width: 0;
    max-height: auto;
    margin-right: auto;
    overflow: auto;
<<<<<<< HEAD
    border: 1px solid blue;
    /* border: none; */
=======
    border: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: max(1.5vw, 10px);
>>>>>>> Info-grid
}

.search-input:focus {
    outline: none;
}

.search-icon {
    width: 10%;
    background: none;
    border: none;
    cursor: pointer;
    /* margin-left: auto; */
    border: 1px solid red;
}

.search-icon img {
<<<<<<< HEAD
    width: 100%;
    min-width: 15px;
    height: 100% - 1vh;
    padding-top: 0.5vh;
    /* padding-right: 5px; */
=======
    width: min(25px, 6vw);
    height: auto;
    padding: 0.5vh;
>>>>>>> Info-grid
    overflow: auto;
    flex-shrink: 1;
}

::placeholder {
    font-family: 'Noto Sans', sans-serif;
    color: #131313;
    opacity: 0.5;
<<<<<<< HEAD
    font-size: 14px;
=======
    font-size: max(1.5vw, 10px);
>>>>>>> Info-grid
    text-align: start;
    flex-shrink: 1;
}