.info-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 100%;
    align-items: center;
    border-bottom: 0.05vh solid #333333;
    gap: 1vw;
    overflow: auto;
    border: 3px solid rgb(129, 6, 171);
}


/* User Box */

.user-box {
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    grid-row: span 2;
    text-align: center;
    background: rgba(198, 198, 198, 0.5);
    border: 1px solid rgb(0, 0, 0);
}

.stats-box {
    display: flex;
    grid-column: span 2;
    grid-row: span 1;
    background: rgba(198, 198, 198, 0.5);
    border: 1px solid rgb(0, 0, 0);
}

h3 {
    color: rgb(108, 108, 108);
    font-family: Ubuntu;
}

.avatar {
    width: 15vw;
    height: 15vh;
    width: clamp(5vw, 100px, 15vw);
    height: clamp(5vh, 100px, 15vh);
    border-radius: 50%;
    margin: 0.5em;
    background-color: aliceblue;
}