* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    margin-bottom: 25%;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: calc(clamp(2.6438rem, 2.1707rem + 0.8652vw, 2.4413rem)* 1.8);
    font-weight: 700;
    text-align: center;
    color: #333333;
    margin-bottom: 2vh;
}

h3 {
    font-size: calc(clamp(1rem, 1.2707rem + 0.6652vw, 1.6413rem) * 1.5);
    font-weight: 200;
    text-align: center;
    color: #333333;
    margin-bottom: 2vh;
}

.search-box {
    display: flex;
    width: clamp(15vw, 450px, 90%);
    height: clamp(3.5vh, 50px, 15vh);
    align-items: center;
    border: 0.4vh solid #8338EC;
    border-radius: 1vh;
    box-shadow: 0.165vh 0.2vh 0px 0.2vh rgba(0, 0, 0, 0.20);
}

.search-input {
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    /* overflow: auto; */
    border: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: clamp(0.2vw, 3.2vw, 20px);
}

.search-input:focus {
    outline: none;
}

.search-icon {
    border: 1px solid blue;
    width: 10px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10%;
}

.search-icon img {
    width: clamp(25px, 2.5vw, 70px);
    height: clamp(25px, 2.5vw, 70px);
    /* Adjust this line to maintain the aspect ratio */
    padding: 0.5vh;
}

::placeholder {
    font-family: 'Noto Sans', sans-serif;
    color: #000;
    opacity: 0.5;
    font-size: clamp(0.2vw, 3.2vw, 20px);
    text-align: start;
}

.logo-img {
    width: clamp(150px, 10vw, 300px);
    height: auto;
    padding: 1vw;
}

@media only screen and (max-width: 600px) {
    .search-box {
        width: 90%;
    }
    .search-input {
        font-size: clamp(1vw, 2vw, 15px);
    }
    .search-icon img {
        width: clamp(25px, 2.5vw, 70px);
        height: clamp(25px, 2.5vw, 70px);
        max-height: 15px;
        padding: 1vh;
    }
    h1 {
        font-size: clamp(1.5rem, 2.1707rem + 0.8652vw, 2.4413rem);
    }
    h3 {
        font-size: clamp(1rem, 1.2707rem + 0.6652vw, 1.6413rem);
    }
}