* {
    box-sizing: border-box;
}

.main-grid {
    display: grid;
    height: auto;
    gap: 1vw;
    padding: 1vw;
    width: min(90%, 2800px);
    border: 1px solid rgb(49, 49, 49);
    margin-inline: auto;
    color: #000;
    font-family: Ubuntu;
}