* {
    box-sizing: border-box;
}

.main-grid {
    display: grid;
    height: auto;
    gap: 1vw;
    padding: 1vw;
    width: min(95%, 2800px);
    margin-inline: auto;
    color: #000;
    font-family: Ubuntu;
}