@import '/newCSS/header.css';
@import '/newCSS/footer.css';
@import '/newCSS/info-flex.css';
body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.main-grid {
    display: grid;
    height: auto;
    gap: 1vw;
    padding: 1vw;
    width: min(95%, 2800px);
    margin-inline: auto;
    color: #5a5a5a;
    font-family: Ubuntu;
}